<!-- Site footer -->
<footer class="site-footer #btmFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6 class="about">About</h6>
        <hr />
        <p class="text-justify">
          {{ aboutme }}
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>I work for:</h6>
        <hr />
        <ul class="footer-links">
          <li>
            <a>Software development</a>
          </li>
          <li><a>Web Development</a></li>
          <li>
            <a>Mobile App Development</a>
          </li>

          <li>
            <a>Web Application</a>
          </li>
          <li>
            <a>Blog & Template</a>
          </li>

          <li>
            <a>Wordpress Site</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <hr />
        <ul class="footer-links">
          <li><a routerLink="about">About Me</a></li>
          <li><a routerLink="contact">Contact Me</a></li>
          <li>
            <a href="http://jamaluddin.ml" target="_blank">last blog</a>
          </li>
          <li>
            <a href="https://devstorys.com/" target="_blank">Visit: Dev's Story</a>
          </li>
          <li>
            <a href="https://wa.me/917407323009" target="_blank">Text me Now!
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr />
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <ul class="social-icons">
      <li>
        <a class="facebook" href="https://www.facebook.com/unsure.dev" target="_blank"><i
            class="fab fa-facebook-f"></i></a>
      </li>
      <li>
        <a class="twitter" href="https://twitter.com/unsuredev" target="_blank"><i class="fab fa-twitter"></i></a>
      </li>
      <li>
        <a class="instagram" href="https://www.instagram.com/unsuredev/" target="_blank"><i
            class="fab fa-instagram"></i></a>
      </li>

      <li>
        <a class="linkedin" href="https://www.linkedin.com/in/devjamal" target="_blank"><i
            class="fab fa-linkedin-in"></i></a>
      </li>
      <li>
        <a class="github" href="https://github.com/devjamal" target="_blank">
          <i class="fab fa-github"></i></a>
      </li>
      <li>
        <a href="https://dev.to/unsuredev">
          <img src="https://d2fltix0v2e0sb.cloudfront.net/dev-badge.svg" alt="Jamaluddin Mondal's DEV Profile"
            height="30" width="30" />
        </a>
      </li>
    </ul>
  </div>
  <div class="container text-center">
    <div class="row">
      <div class="col-md-12 col-12 col-xs-12">
        <p class="copyright-text ">
          &copy;2020 Designed and Developed by
          <a href="https://www.linkedin.com/in/devjamal/" target="_blank">Jamal</a>
          &reg;<img class="rounded-circle &nbsp" src="../../assets/img/jamal.jpeg" alt="img_jamaluddin" width="4%;"
            height="5%" />
        </p>
      </div>
    </div>
  </div>
</footer>