<main class="mdl-layout__content">
  <div class="mdl-grid portfolio-max-width">
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <img class="article-image" src="../../assets/img/blog.png" style="width: 100%; height: 250px;" border="0"
          alt="" />
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Template Design </h2>
      </div>
      <!-- <div class="mdl-card__supporting-text">
        A website template is a predesigned resource that shows the structure for the comprehensive layout and display features of any website. It is provided by various suppliers to help make Web design a lot easier for designers.
      </div> -->
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
          href="https://en.wikipedia.org/wiki/Blog" target="_blank">Read more</a>
      </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <img class="article-image" src="../../assets/img/web-app.png" width="100%" height="240px" border="0" alt="" />
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Web Application</h2>
      </div>
      <!-- <div class="mdl-card__supporting-text">
        A Web application (Web app) is an application program that is stored on a remote server and delivered over the Internet through a browser interface. Web applications include online forms, shopping carts, word processors, spreadsheets, video and photo editing, file conversion, file scanning, and email programs such as Gmail, Yahoo and AOL. Popular applications include Google Apps and Microsoft 365.
      </div> -->
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
          href="https://en.wikipedia.org/wiki/Web_application " target="_blank">Read more</a>

      </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <img class="article-image" src="../../assets/img/mobile-app.png" width="100%" height="250px" border="0"
          alt="" />
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Mobile App Development</h2>
      </div>
      <!-- <div class="mdl-card__supporting-text">
        A mobile app is a software application developed specifically for use on small, wireless computing devices, such
        as smartphones and tablets, rather than desktop or laptop computers.
      </div> -->
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
          href="https://en.wikipedia.org/wiki/Mobile_app" target="_blank">Read more</a>

      </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <img class="article-image" src=" ../../../assets/images/example-work03.jpg" style="width: 90%;" border="0"
          alt="" />
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Angular Dashboard template</h2>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
          href="https://en.wikipedia.org/wiki/Dashboard_(business)" target="_blank">Read more</a>
      </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <img class="article-image" src="../../assets/img/pwa.png" width="100%" height="240px" border="0" alt="" />
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"> Progressive Web App</h2>
      </div>
      <!-- <div class="mdl-card__supporting-text">
        Progressive web apps are websites that look and feel like an app. This means users can access all information
        and capabilities without downloading a mobile app. Instead, progressive web apps use modern web technology to
        deliver app-like experiences to users, right in their browsers.
      </div> -->
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
          href="https://en.wikipedia.org/wiki/Progressive_web_application" target="_blank">Read more</a>
      </div>
    </div>
    <div class="mdl-cell mdl-card mdl-shadow--4dp portfolio-card">
      <div class="mdl-card__media">
        <img class="article-image" src="../../assets/img/devstorys.png" width="100%" height="250px" border="0" alt="" />
      </div>
      <div class="mdl-card__title">
        <h2 class="mdl-card__title-text"> WordPress Site : Devstorys.com</h2>
      </div>

      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent"
          href="https://devstorys.com/" target="_blank">Visit Here</a>
      </div>
    </div>
  </div>


  <!-- recent projects -->

  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h3 class="text-secondary mb-0"></h3>
        <h2 class="mb-5">Recent Projects</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Studens Attendance System</h2>
                <p class="mb-0">
                  A attandance system, monitor B.tech college attandance
                  accoring to Year,Branch, section by admin and students also
                  can check individual,with quaterly reoport etc features
                  enabled.
                </p>
              </span>
            </span>
            <img class="img-fluid" src="../../assets/img/reactrecipe.png" alt="studentsAttenadance_img" />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>My last blog page</h2>
                <p class="mb-0">
                  I have created when started learning about html ,css,boostrap,
                  javascript,scss etc, may be still live @ http://jamaluddin.ml
                </p>
              </span>
            </span>
            <img class="img-fluid" src="../../assets/img//receipe.png" alt="blog_image" />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Desktop App</h2>
                <p class="mb-0">
                  Cross-platform desktop applications with JavaScript, HTML and
                  CSS for Mac, Linux or Windows only with one framework -
                  Electron.
                </p>
              </span>
            </span>
            <img class="img-fluid" src="../../assets/img/degreetocel.png
          " alt="degTOcel_image" />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>HTML LIVE EDITOR</h2>
                <p class="mb-0">
                  A very Basic Editor for html,css,JavaScript practise.
                </p>
              </span>
            </span>
            <img class="img-fluid" src="../../assets/img/editor.png" alt="" />
          </a>
        </div>

        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>Desktop App</h2>
                <p class="mb-0">
                  Cross-platform desktop applications with JavaScript, HTML and
                  CSS for Mac, Linux or Windows only with one framework -
                  Electron.
                </p>
              </span>
            </span>
            <img class="img-fluid" src="../../assets/img/degreetocel.png
      " alt="degTOcel_image" />
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="#">
            <span class="caption">
              <span class="caption-content">
                <h2>HTML LIVE EDITOR</h2>
                <p class="mb-0">
                  A very Basic Editor for html,css,JavaScript practise.
                </p>
              </span>
            </span>
            <img class="img-fluid" src="../../assets/img/editor.png" alt="" />
          </a>
        </div>
      </div>
    </div>

  </section>


</main>