<div class="page ">
  <div class="wrapper">
    <div class="content-wrapper">
      <div class="content"><br><br>
        <div class="jumbotron">
          <h2><i class="fas fa-share-alt" (click)="share=true"></i> &nbsp;{{this.singlePost.title}}</h2>

          <div [innerHTML]="this.singlePost.content  "></div>
          <div class="sidebar"><br><br>


          </div>
        </div>
      </div>
      <div class="sidebar-widget-area">
        <h5 class="title">Stories</h5>
        <div class="widget-content">

          <!-- Single Blog Post -->
          <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
              <img
                src="https://images.unsplash.com/photo-1561043433-b0bb121aacef?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                alt="">
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <a href="#" class="headline">
                <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
              </a>
            </div>
          </div>
          <!-- Single Blog Post -->
          <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
              <img
                src="https://images.unsplash.com/photo-1561043433-b0bb121aacef?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80"
                alt="">
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <a href="#" class="headline">
                <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
              </a>
            </div>
          </div>
          <!-- Single Blog Post -->

          <!-- Single Blog Post -->
          <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
              <img
                src="https://images.unsplash.com/photo-1564844536316-8dd3fd7d51bc?ixlib=rb-1.2.1&auto=format&fit=crop&w=717&q=80"
                alt="">
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <a href="#" class="headline">
                <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
              </a>
            </div>
          </div>
          <!-- Single Blog Post -->
          <div class="single-blog-post post-style-2 d-flex align-items-center widget-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
              <img src="img/blog-img/b12.jpg" alt="">
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <a href="#" class="headline">
                <h5 class="mb-0">How Did van Gogh’s Turbulent Mind Depict One of the Most</h5>
              </a>
            </div>
          </div>

        </div>
      </div>

      <!-- Widget Area -->
      <div class="sidebar-widget-area">
        <h5 class="title">Stay Connected</h5>
        <div class="widget-content">
          <div class="social-area d-flex justify-content-between">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="col">
          <!-- Single Blog Post -->
          <div class="single-blog-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
              <img
                src="https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="">
              <!-- Catagory -->
              <div class="post-cta"><a href="#">travel</a></div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <a href="#" class="headline">
                <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
              </a>
              <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
              <!-- Post Meta -->
              <div class="post-meta">
                <p><a href="#" class="post-author">admin</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                    am</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <!-- Single Blog Post -->
          <div class="single-blog-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
              <img
                src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
                alt="">
              <!-- Catagory -->
              <div class="post-cta"><a href="#">travel</a></div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <a href="#" class="headline">
                <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
              </a>
              <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
              <!-- Post Meta -->
              <div class="post-meta">
                <p><a href="#" class="post-author">admin</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                    am</a></p>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <!-- Single Blog Post -->
          <div class="single-blog-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
              <img
                src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80"
                alt="">
              <!-- Catagory -->
              <div class="post-cta"><a href="#">travel</a></div>
              <!-- Video Button -->
              <a href="https://www.youtube.com/watch?v=IhnqEwFSJRg" class="video-btn"><i class="fa fa-play"></i></a>
            </div>
            <!-- Post Content -->
            <div class="post-content">
              <a href="#" class="headline">
                <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
              </a>
              <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
              <!-- Post Meta -->
              <div class="post-meta">
                <p><a href="#" class="post-author">admin</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48
                    am</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>














    </div>

  </div>
</div>





<!-- Share Popup Start-->

<div class="popup-div sharePopupDiv" *ngIf="share">
  <div class="shareContainer">
    <!-- <span class="search-popup-close-btn" (click)="closeSharePopup()"></span> -->
    <div class="shareIconDiv">
      <ul class="shareialIcon">
        <li class="socialmediaicons">
          <img title="Facebook" (click)="shareOnSocialMedia('Facebook')" alt="Facebook"
            src="assets/images/socialmedia/facebook.png">
        </li>
        <li class="socialmediaicons">
          <img title="Twitter" alt="Twitter" (click)="shareOnSocialMedia('Twitter')"
            src="assets/images/socialmedia/twitter.png">
        </li>
        <li class="socialmediaicons">
          <img title="LinkedIn" alt="LinkedIn" (click)="shareOnSocialMedia('LinkedIn')"
            src="assets/images/socialmedia/linkedin.png">
        </li>
        <li class="socialmediaicons">
          <img title="Whatsapp" alt="Whatsapp" (click)="shareOnSocialMedia('Whatsapp')"
            src="assets/images/socialmedia/whatsapp.png">
        </li>
        <li class="socialmediaicons">
          <img title="Email" alt="Email" (click)="shareOnSocialMedia('Email')"
            src="assets/images/socialmedia/email.png">
        </li>
        <li class="socialmediaicons">
          <img title="Skype" alt="Skype" (click)="shareOnSocialMedia('Skype')"
            src="assets/images/socialmedia/skype.png">
        </li>
        <li class="socialmediaicons">
          <img title="Telegram" alt="Telegram" (click)="shareOnSocialMedia('Telegram')"
            src="assets/images/socialmedia/telegram.png">
        </li>
        <li class="socialmediaicons hideFromDesktopVersion">
          <img title="Messenger" alt="Messenger" (click)="shareOnSocialMedia('Messenger')"
            src="assets/images/socialmedia/messenger.png">
        </li>
        <li class="socialmediaicons">
          <img title="Pinterest" alt="Pinterest" (click)="shareOnSocialMedia('Pinterest')"
            src="assets/images/socialmedia/pinterest.png">
        </li>
      </ul>
    </div>
  </div>
</div>












<div class="main-content-wrapper section-padding-100">
  <div class="container">
    <div class="row justify-content-center">
      <!-- ============= Post Content Area ============= -->
      <div class="col-12 col-lg-12">
        <div class="single-blog-content mb-100">
          <!-- Post Meta -->
          <div class="post-meta  ">
            <p><a href="#" class="post-author">admin</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a>
            </p>
          </div>
          <!-- Post Content -->




        </div>
      </div>
    </div>

    <!-- ============== Related Post ============== -->
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <!-- Single Blog Post -->
        <div class="single-blog-post">
          <!-- Post Thumbnail -->
          <div class="post-thumbnail">
            <img
              src="https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
              alt="">
            <!-- Catagory -->
            <div class="post-cta"><a href="#">travel</a></div>
          </div>
          <!-- Post Content -->
          <div class="post-content">
            <a href="#" class="headline">
              <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
            </a>
            <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
            <!-- Post Meta -->
            <div class="post-meta">
              <p><a href="#" class="post-author">admin</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <!-- Single Blog Post -->
        <div class="single-blog-post">
          <!-- Post Thumbnail -->
          <div class="post-thumbnail">
            <img
              src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
              alt="">
            <!-- Catagory -->
            <div class="post-cta"><a href="#">travel</a></div>
          </div>
          <!-- Post Content -->
          <div class="post-content">
            <a href="#" class="headline">
              <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
            </a>
            <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
            <!-- Post Meta -->
            <div class="post-meta">
              <p><a href="#" class="post-author">admin</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <!-- Single Blog Post -->
        <div class="single-blog-post">
          <!-- Post Thumbnail -->
          <div class="post-thumbnail">
            <img
              src="https://images.unsplash.com/photo-1432139555190-58524dae6a55?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80"
              alt="">
            <!-- Catagory -->
            <div class="post-cta"><a href="#">travel</a></div>
            <!-- Video Button -->
            <a href="https://www.youtube.com/watch?v=IhnqEwFSJRg" class="video-btn"><i class="fa fa-play"></i></a>
          </div>
          <!-- Post Content -->
          <div class="post-content">
            <a href="#" class="headline">
              <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
            </a>
            <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
            <!-- Post Meta -->
            <div class="post-meta">
              <p><a href="#" class="post-author">admin</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>